#todoList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80vh;
    border: 2px solid tomato;
    width: 80%;
    margin-top: 0%;
    overflow: scroll;
    list-style-type: none;
    padding: 0;
}

.completedTodoItem,
.incompleteTodoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2px solid tomato;
    width: 99%;
    height: 10%;
    align-items: center;
    margin-bottom: 0.1%;
    margin-top: 0.2%;
    transition: transform 0.2s;
    padding: 0.5%;
}

.completedTodoItem:hover,
.incompleteTodoItem:hover {
    transform: scale(1.005);
}

.completedTodoItem:hover .delTodo,
.incompleteTodoItem:hover .delTodo {
    display: block;
    cursor: pointer;
}
.completedTodoItem .todoContainer {
    text-decoration: line-through;
}

.delTodo {
    display: block;
    height: 30%;
    background-color: red;
    border: inherit;
    display: none;
    margin-right: 1%;
    border-radius: 10px;
    color: white;
}

.todoContainer {
    margin-top: 7%;
    width: 90%;
    overflow: auto;
    height: 70%;
    margin-bottom: -1;
}
